
body{
  margin: 0;
  padding: 0;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  "Ebrima", sans-serif;
}
.navbar-container {
  background-color: #222;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  padding: 0 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 99;
}

.navbutton {
  background-color: rgb(230, 0, 153);
  color:rgb(255, 255, 255);
  border: none;
  width: 150px;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 16px;
  margin-left: 50px;
  margin-right: 50px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.navbar-container button:hover {
  transition: 0.2s ease-in-out;
  scale: 1.1;
  color: #202622;
  background-color: #ffffff;
}

/* ===========================================================================================================================*/
/*Home.css*/


.home-container {
  margin-top: 60px;
  text-align: center;
  padding: 10px;
  background-color: rgb(0, 0, 0); /* Dark background color */
  color: #eee; /* Light text color */
}


.main-heading {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
}

.Heading {
  display: flex;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}


.show-list {
  background-color: rgb(6, 186, 18);
  background-image: linear-gradient(rgb(6, 186, 18), rgb(228, 102, 222), rgb(6, 186, 18), rgb(228, 102, 222));
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
  padding: 20px 20px;
  gap: 20px;
  width: 100%;
  justify-items: center;
}

.show-link {
  text-decoration: none;
  color: #eee;
}

.show-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #555;
  border-radius: 8px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  min-height: 200px;
  min-width: 355px;
}

.show-image {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.show-title {
  font-size: 20px;
  margin-bottom: 5px;
}

.show-description {
  font-size: 16px;
}

.show-info:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}

/*=========================================================================================================================== */
/* Preview.css */

.preview-container {
  margin-top: 55px;
  padding: 30px 100px;
  background-color: rgb(0, 0, 0);
  min-height: 89vh;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: white;
}

h3 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: rgb(255, 255, 255);
}

h4 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #ccc; 
}

p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #bbb; 
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.seasonbtn {
  background-color: #555;
  background-image: linear-gradient(rgb(6, 186, 18), rgb(228, 102, 222));
  border: none;
  color: #eee; 
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: block;
  margin: 20px auto; 
  height: 50%;
  width: 50%;
}
.favebtn {
  background-color: #555;
  background-image: linear-gradient(rgb(6, 186, 18), rgb(228, 102, 222));
  border: none;
  color: #eee;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: block;
  margin: 20px auto; 
  height: 50%;
  width: 50%; 
}

.favebtn:hover{
  font-size: 20px;
  transition: 0.2s ease-in-out;
  color: #202622;
}

.show-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

audio {
  width: 100%;
  margin-top: 10px;
}


.episodes-list {
  display: none;
  padding: 10px;
  border-radius: 8px;
}

.single-ep {
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #585858;
}


.show-episodes {
  display: block !important;
}


.home-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.search-sort-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-right: 10px;
}

select {
  padding: 10px;
}

.show-list {
  list-style-type: none;
  padding: 0;
}

.show-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
}

.show-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
}

.show-details {
  flex: 1;
}

.favorite-container{
  background-color: #202622;
}

.genres-container {
  position: relative; 
  top: -20px;
}